
.listContainer {
  background: white;
  width: 900px;
  margin: 0px auto;

  .form table {
    .table-head {
      padding: 5px 15px;
    }
    .table-cell {
      padding: 5px 15px;
      color: #7B7B7B;
    }
  }
}

