// bower:scss
// endbower


@import url('https://fonts.googleapis.com/css?family=Ubuntu');

.left-margin-default {
  margin-left: 15px;
}

.login-modal .modal-dialog {
  width: 500px;
  margin-top: 100px;
}

.purple-header {
  background: #704B74;
  color: #FFFFFF;

  .header-title {
    position: relative;
    float: left;
    margin: 4px 0px 4px 15px;
  }
  .close-button {
    position: relative;
    text-align: right;
    float: right;
    margin: 4px 15px 4px 0px;
    cursor: pointer;

    a {
      color: #FFFFFF;
      text-decoration: none;
    }
  }
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

  i.purple-icon {
    margin: 7px 22px 0px 0px;
    color: #B9B7BA;
  }

  .row {
    margin: 5px -3px;
  }

  .final-row {
    margin-bottom: 15px;
  }

  .sign-button {
    float: left;
    margin-left: 15px;
    margin-right: 15px;
  }

  .pass-link {
    padding-top: 5px;
  }

  .pass-link a {
    color: #B9B7BA;
  }
}
.form input {
  outline: 0;
  background: #F0EEF1;
  width: 100%;
  border: 1px solid rgba(128, 128, 128, 0.2);
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 3px;
}

.form button {
  outline: 0;
  background: #704D77;
  border: 0;
  padding: 7px 35px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 3px;
}
.form button:hover,.form button:active,.form button:focus {
  background: #8d6e93;
}

.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  margin: 75px auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}

.warning-body {
  color: #FFFFFF;
  width: 300px;
  margin: 150px auto;

  a {
    color: #B9B7BA;
  }

}

body {
  background: #411D41; /* fallback for old browsers */
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}